.reports-page{
    padding:25px;
}

.reports-header{
    margin-bottom:30px;
}

.reports-header h2{
    color:#003366;
    margin-bottom:8px;
}

.reports-header p{
    color:#6b7280;
}

.reports-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.report-card{

    background:white;

    border-radius:15px;

    padding:25px;

    box-shadow:
    0 8px 20px
    rgba(0,0,0,.08);

    transition:.3s;
}

.report-card:hover{

    transform:translateY(-5px);

    box-shadow:
    0 15px 30px
    rgba(0,0,0,.12);
}

.report-card h3{

    color:#6b7280;

    margin-bottom:15px;
}

.report-card h1{

    color:#003366;

    font-size:30px;
}